/*  title for home page*/
h1{
  color:#F48065;
  font-family: 'Muli', sans-serif; 
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  padding: 5%;

  }
/* title for jouney*/
  h2{
    color:#F48065;
    font-family: 'Muli', sans-serif; 
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    padding-left: 5%;
    }

  /* title for about us*/
  h3 {
    color:#F48065;
    font-family: 'Muli', sans-serif; 
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    padding-left: 5%;
  }  
  
  p {
  color:  #F2F2F3;  
  font-family: 'Muli', sans-serif; 
  font-size: 16px;
  text-align: center;
  padding: 1%;
  }


.overlay {
  position: absolute; 
  display: ;
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D4D0CB;
  opacity: 90%;
}

.header {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  display: block;
  transform-origin: center center 0;
  padding: 28vw 0 28vw
  position: relative;
  width: 100%;
}

/* for journey grid*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 8%;
  padding-left: 20%;
  padding-right:20%;
  float: none;
}

/* 3 equal columns */
.column {
  flex: 33.3%;
  max-width: 33.3%;
}

.column img {
  vertical-align: middle;
}


.img
  { align-content:center ;
    width: auto;
    float: left;
    margin-top: 0px;
}

video
  { align-content:center ;
}

.body{
  text-align: center; 
  margin-left: 10%;  
  margin-right: 10%;
  background-color: #F2F2F3;
}

div {
  width: 100%;
  height: 100%;
  min-width: 100px;
  }
 
}

