*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

.container {
    width: 60%;
    margin: 2rem auto; 
  }

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem; 
    rotate: 90deg;
  }
  
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
    transform: scale(0.5);
    rotate: 90deg;
  }
  
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }

img {
  rotate: 90deg;
}