*{
    box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

.container {
    width: 50%;
    margin: 3rem auto;
    
}

.header {
    text-align: center;
    margin-bottom: 100pt;
  }

.column {
    align-content: center;
    column-count: auto;
  }

.row::after {
  display: center;
  clear: both;
  text-align: center;
  margin-left: 2pt;
}

::backdrop {
    color: #f2f2f3;
}

h1 {
  color: #f48065;
  font-family: "muli";
  font-size: 24pt;
  text-align: center;
  letter-spacing: 3pt;
  
}

h2 {
    color: #f48065;
    font-family: "muli";
    font-size: 14pt;
    text-align: center;
    letter-spacing: 3pt;
}

p {
    color: #6F928F;
    font-family: "muli";
    font-size: 10pt;
    text-align: center;
    width: 90%;
    margin: 2pt auto;
    margin-top: 10pt;
    margin-bottom: 10pt;
    line-height: 20pt;
  }

.body {
    text-align: center;
    margin-bottom: 30pt;
    margin-top: 20pt;
}

img { 
  transform: rotate(90deg);
  margin-left: 10pt;
    margin-right: 10pt;
    margin-top: 10pt;
    margin-bottom: 10pt;
}