*{
    box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

.container {
    width: 60%;
    margin: 2rem auto;
}

.header {
    text-align: center;
  }

.column {
    float: left;
    width: 33.33%;
    padding: 30px;
    text-align: center;
  }

.row::after {
  display: center;
  clear: both;
  text-align: center;
}

::backdrop {
    color: #f2f2f3;
}

h1 {
  color: #f48065;
  font-family: "muli";
  font-size: 24pt;
  text-align: center;
  letter-spacing: 3pt;
}

h2 {
    color: #f48065;
    font-family: "muli";
    font-size: 14pt;
    text-align: center;
    letter-spacing: 3pt;
}

p {
    color: #6F928F;
    font-family: "muli";
    font-size: 10pt;
    text-align: center;
  }

.body {
    text-align: center;
}